body{
	font-family: 'Titillium Web', sans-serif;
}
a.accroche{
	font-family: 'Lobster', cursive;
	font-size: xx-large;
}

div#navbar{
	float: right;
}

table.admin-table-gestion th{
	text-align: center;
}

table.admin-table-gestion td{
	padding: 4px;
	text-align: center;
}

.tr-table-admin-gestion{
	border-bottom: solid 1px ;
}

table.admin-table-gestion img{
	max-width: 25px;
}

.ul-gestion-admin-type-membre p{
	display: initial;
}

footer .row{
	background-color: #222;
    border-color: #080808;
	height: auto;
	color: white;
}

.header-img{
	width: 125px;
	height: 125px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.partner li{
	list-style-type: none;
}
.partner li::before{
	content: "→ ";
	background-repeat: no-repeat; 
	font-weight: italic;
}
table,td
{
 padding:15px;
 border-collapse:collapse;
}
#data td
{
 padding:10px;
 border-collapse:collapse;
 position:relative;
 font-family:Verdana, Geneva, sans-serif;
}
a
{
 text-decoration:none;
 color:#00a2d1;
 font-family:"Courier New", Courier, monospace;
 font-weight:bold;
 font-family:Tahoma, Geneva, sans-serif;
}
#footer
{
 text-align:center;
 margin-top:50px;
}
form .error {
  color: #ff0000;
}