div#navbar{
	float: right;
}

table.admin-table-gestion th{
	text-align: center;
}

table.admin-table-gestion td{
	padding: 4px;
	text-align: center;
}

.tr-table-admin-gestion{
	border-bottom: solid 1px ;
}

img.icon-admin-gestion{
	max-width: 25px;
}

.ul-gestion-admin-type-membre p{
	display: initial;
}